@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}
.navbar {
  height: 100px;
  background-color: #0f1111;
  color: white;
  align-items: center;
  display: flex;
}
.logos {
  background-image: url("pho.jpeg");
  height: 120px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline;
  margin-left: 10px;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
  height: 30px;
}

p {
  margin-right: 200px;
  padding-bottom: 0.5px;
}

/* this is searchbar*/
.searc {
  height: 95px;
  width: 515px;
  background-color: antiquewhite;
  border: 2px solid black;
  margin-left: 540px;
  margin-top: 60px;
}
input {
  height: 32px;
  width: 360px;
  margin-top: 30px;
  margin-left: 20px;
}
button {
  height: 30px;
  width: 94px;
  margin-left: 384px;
  margin-top: -30px;
  border: 2px solid black;
  display: flex;
  font-size: 12px;
  align-items: center;
  background-color: blanchedalmond;
}
.wrapper {
  display: flex;
  gap: 90px;
}
.container {
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 320px;
  margin-left: 20px;
  position: relative;
  border: 2px solid black;
}

.outer {
  height: 200px;
  width: 200px;
  /* border: 2px solid black; */
  box-shadow:
    -1px -1px 5px 0 rgb(8, 8, 8),
    3px 3px 5px black;
  border-radius: 50%;
  padding: 30px;
}
.inner {
  height: 140px;
  width: 140px;
  /* border: 2px solid black; */
  box-shadow:
    inset -1px -1px 5px 0 rgb(8, 8, 8),
    inset 3px 3px 5px black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#number {
  font-size: 2.5rem;
  font-weight: 400;
  color: lightyellow;
}

svg {
  position: absolute;
}
circle {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 30px;
  stroke-dasharray: 1165;
  stroke-dashoffset: 1165;
  stroke-linecap: round;
  animation: anim 1s ease forwards;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 404.75;
  }
}
