* {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}
.navbar {
  height: 100px;
  background-color: #0f1111;
  color: white;
  align-items: center;
  display: flex;
}

.nav-logo {
  height: 200px;
  width: 200px;
}

.logo1 {
  background-image: url("");
  background-size: cover;
  height: 65px;
  width: 100px;
  padding: left 20px;
  margin-left: 23px;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

p {
  margin-right: 250px;
}
