@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}
body {
  background-image: url("back.jpeg");
}
.navbar {
  height: 100px;
  background-color: black;
  color: white;
  align-items: center;
  display: flex;
  border: 3px solid white;
}
.logos {
  background-image: url("pho.jpeg");
  height: 120px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline;
  margin-left: 10px;
}
.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
  height: 30px;
}

p {
  margin-right: 200px;
  padding-bottom: 0.5px;
}

/* this is searchbar*/
.searc {
  height: 95px;
  width: 515px;
  border: 2px solid white;
  margin-left: 440px;
  margin-top: 140px;
  border-radius: 5px;
}
input {
  height: 32px;
  width: 360px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 3.8px;
}
button {
  height: 30px;
  width: 94px;
  margin-left: 397px;
  margin-top: -31px;
  border: 2px solid white;
  display: flex;
  font-size: 12px;
  align-items: center;
  border-radius: 3.8px;
  background-color: blanchedalmond;
}
i {
  height: 10px;
  width: 20px;
  margin-left: -29px;
  margin-top: -15px;
  align-items: center;
}
.wrapper {
  display: flex;
  gap: 60px;
}
.container {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 155px;
  margin-left: 20px;
  position: relative;
  border: 2px solid white;
}

.outer {
  height: 200px;
  width: 200px;
  /* border: 2px solid black; */
  box-shadow:
    -1px -1px 5px 0 rgb(250, 250, 250, 0.8),
    3px 3px 5px white;
  border-radius: 50%;
  padding: 30px;
}
.inner {
  height: 140px;
  width: 140px;
  /* border: 2px solid black; */
  box-shadow:
    inset -1px -1px 5px 0 rgb(250, 250, 250, 0.8),
    inset 3px 3px 5px white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nuber1 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

svg {
  position: absolute;
}
circle {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 30px;
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
  stroke-linecap: round;
  animation: anim 1s ease-in-out;
}
#lodermal {
  fill: none;
  stroke: url(#linearGradient2);
  stroke-width: 30px;
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
  stroke-linecap: round;
  animation: anim 1s ease-in-out;
}

#loderma2 {
  fill: none;
  stroke: url(#linearGradient3);
  stroke-width: 30px;
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
  stroke-linecap: round;
  animation: anim 1s ease-in-out;
}
#loderma3 {
  fill: none;
  stroke: url(#linearGradient4);
  stroke-width: 30px;
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
  stroke-linecap: round;
  animation: anim 1s ease-in-out;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 404.75;
  }
}
.risk {
  margin-top: -212px;
  font-size: 0.7rem;
  margin-left: -40px;
  color: white;
}
h5 {
  font-size: 0.7rem;
  margin-left: -40px;
  color: white;
}
.icon {
  background-image: url("overall.jpeg");
  height: 27px;
  width: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: -30px;
  margin-left: -76px;
}
.box {
  height: 30px;
  width: 100px;
  margin-bottom: -255px;
  margin-left: -96px;
  border: 2px solid white;
  text-align: center;
  position: relative;
  color: white;
  display: inline-block;
}
.boxicon {
  background-image: url("overall.jpeg");
  height: 24px;
  width: 25px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -67px;
  color: white;
}

.high {
  margin-top: -25px;
  margin-left: 20px;
  color: white;
}
/* malware risk */

.icon2 {
  background-image: url("malwer.jpeg");
  height: 27px;
  width: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: -30px;
  margin-left: -76px;
}
.iconmal {
  background-image: url("malwer.jpeg");
  height: 27px;
  width: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  left: -35px;
}

/* network risk */
.nebox {
  height: 30px;
  width: 100px;
  margin-bottom: -255px;
  margin-left: -96px;
  border: 2px solid white;
  text-align: center;
  position: relative;
  color: white;
  display: inline-block;
}
.icon3 {
  background-image: url("net.jpeg");
  height: 27px;
  width: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: -30px;
  margin-left: -76px;
}

.neticon {
  background-image: url("net.jpeg");
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  bottom: -3px;
  margin-left: -66px;
}

.optimal {
  margin-top: -20px;
  margin-left: 20px;
  color: white;
}
/* web risk */
.icon4 {
  background-image: url("web.jpeg");
  height: 27px;
  width: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: -30px;
  margin-left: -76px;
}

.webicon {
  background-image: url("web.jpeg");
  height: 26px;
  width: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  bottom: -3px;
  margin-left: -66px;
}
.MONITOR {
  /* font-size: 0.9rem; */
  margin-top: -23px;
  margin-left: 19px;
}
